.static1-top {
	margin-bottom: 30px;
}

.static1-top {
    .box1, 
    .box-iner, 
    .box-iner a, 
    .box-iner img {
        height: 100%;
    }
}

.static1-top .row .left {
	margin-right: 15px;
}

.static1-top .row .right {
	margin-left: 15px;
}

.static1-top .row .left .box1 .box-iner .text h3 {
	color: #fff;
}

.static1-top .bos .box-iner {
    display: flex;
    align-items: center;
    justify-content: center;
	.text {
		margin: 0;
	    left: inherit !important;
	    top: inherit !important;	
	    position: absolute;
	    transform: none !important;
    	i.fa {
			color: #fff;
			font-size: 50px;
    	}
		p {
			text-align: center;
		}
		h3 {
		    font-size: 30px !important;
		    font-weight: normal !important;
		    text-align: center;
		}
		h4 {
			text-align: center;
			&:after {
				height: 0px !important;
			}	
		}
	}    
}

@import './Banners/Main';
@import './Banners/Events';
@import './Banners/Corporate';
@import './Banners/Wedding';
@import './Banners/Button';

/* Portrait and Landscape */
@media only screen
	and (min-device-width: 320px) 
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2)
{
	.static1-top .bos .box-iner {
		.text {
			text-align: center;
			h3 {
				font-size: 24px !important;
			}
		}
	}

	.banner_button--lg {
		width: 320px !important;
	}
}
