.product-item-name a, .product.name a a {
    font-size: 15px;
    font-family: Montserrat, Arimo;
}

.price-container .price {
	font-size: 15px;
    font-weight: normal;
	font-family: Montserrat, Arimo;
}

.product-item-info {
	.image-container {
		border: 1px solid #ddd;
	}
}

