/app/design/frontend/belpro/maisondesfleurs/web/node_modules
/app/design/frontend/belpro/maisondesfleurs-uae/web/node_modules
/.env
/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/.idea
/.gitattributes
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt

/app/etc/env.php