
.catalog-product-view .product-reviews-summary .reviews-actions {
	padding-left: 0;
}

.prices-tier {
	padding-left: 0px;
}

.subscribe-new {
	margin-bottom: 50px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;	
}