.sprites {
	display: block;
	background: url('http://dev.belpro.net/maisondesfleurs/pub/media/wysiwyg/sprites.png') no-repeat;
}

.sprite-logo-footer {
	width: 128px;
	height: 82px;	
	background-position: -10px -10px;
}

.sprite-belpro {
	width: 79px;
	height: 29px;	
	background-position: -150px -10px;
}

.sprite-visa {
	width: 57px;
	height: 37px;
	background-position: -189px -175px;
}

.sprite-mastercard {
	width: 57px;
	height: 37px;
	background-position: -255px -175px;
}

.sprite-american-express {
	width: 57px;
	height: 37px;
	background-position: -321px -175px;
}