.catalog-category-view .sidebar,
.catalog-product-view .sidebar {
	.block-title {
		font-size: 14px;
		background: #bc9051;
		strong {
			font-size: 14px;
			color: #fff !important;
		}
		.counter {
			color: #fff;
		}
	}
}

.catalog-category-view .pt-recentproduct-container .item,
.catalog-product-view .pt-recentproduct-container .item {
	button:before {
	    content: ' ';
	}
	// Most Viewed
	.item-inner .des {
		padding-top: 0;
	}
	.item-inner .image-container {
		border: 1px solid #ddd;
	}
}
